@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Pacifico&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: "Pacifico", cursive;
    --fonte3: "Original Surfer", sans-serif;
    
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(238, 235, 255);
    font-family: var(--fonte1);
    letter-spacing: 3px;
}

header {
    background: linear-gradient( to right, #1f1fd393, #3734eed3, blue);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 50px;
}

header > p {
    padding-bottom: 40px;
    font-family: var(--fonte3);
    font-size: 18px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 22px;
}

section.normal {
    background-color: white;
    color: rgb(74, 74, 243);
}

#curiosidade {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-family: var(--fonte2);
}

section.imagem {
    background-color: rgb(160, 160, 238);
    color: rgb(253, 250, 250);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.253);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(185, 185, 245, 0.596);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/img-0101.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

section#img02 {
    background-image: url('../imagens/img-0202.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

section#img03 {
    background-image: url('../imagens/img-0303.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

footer {
    background: linear-gradient( to right, #1f1fd393, #3734eed3, blue);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte3);
    font-size: 18px;
    text-shadow: 1px 1px 0px black;
}   